@font-face {
    font-family: "pokemon-solid";
    src: url(../Global-Styles/Fonts/Pokemon\ Solid.ttf);
}

@font-face {
    font-family: "pokedex";
    src: url(../Global-Styles/Fonts/pokedex.ttf);
}


@font-face {
    font-family: "eggs";
    src: url(../Global-Styles/Fonts/Toasteggs-YgY2.ttf);
}

@font-face {
    font-family: "gameboy";
    src: url(../Global-Styles/Fonts/PokemonGb-RAeo.ttf);
}

@font-face {
    font-family: "indica";
    src: url(../Global-Styles/Fonts/IndieFlower-Regular.ttf);

}


#nav-bar-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    width: 100%;
    background-color: lightblue;
}

#nav-bar-styles #link-container-row {
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
}

#nav-bar-styles #link-container-column {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 95%;
}

/*Title*/
#nav-bar-styles #link-container-column #title-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 20%;
    font-family: "indica";
    font-size: 2em;
    color: gold;
    -webkit-text-stroke: 1px black;
    transition: font-size 0.2s ease-in-out;
}

#nav-bar-styles #link-container-column #nav-links-column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    width: 78%;
}

#nav-bar-styles #link-container-column #nav-links-row {
    display:flex;
    justify-content: space-around;
    height:70%;
    width: 100%;
}


#nav-bar-styles #link-container-column #nav-links-row .link-container{
    display: flex;
    justify-content: space-between;
    width:20%;
    transition: 1s ease-in-out;
    border-radius: 15px 15px 15px 15px;


}

#nav-bar-styles #link-container-column #nav-links-row .link-container:hover{
    background-color: rgb(239, 216, 82);
    box-shadow: 2px 2px 7px 2px black;
    padding-right:1%;
    padding-left:1%;

}


#nav-bar-styles #link-container-column #nav-links-row .link-container .poke-ball-container{
    display: flex;
    justify-content: center;
    width:20%;

}

#nav-bar-styles #link-container-column #nav-links-row .link-container .link-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    font-family: "indica";
    font-size: 1.5em;
    background: linear-gradient(to right, blue, red);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: left bottom;
    color: transparent;
    -webkit-text-stroke: 1px black;
    transition: background-position 0.5s ease;
    -webkit-text-fill-color: transparent;
}

#nav-bar-styles #link-container-column #nav-links-row .link-container .link-title .link{
    text-decoration: none;
    color:gold;
    -webkit-text-stroke: 1px black;

    
}

#nav-bar-styles #link-container-column #nav-links-row .link-container .link-title:hover{
    cursor: pointer;
    background-position: right bottom;
}


/*Transition*/
#nav-bar-styles #link-container-column #title-row:hover {
 
}
